.firstPageDecoration__yellowHeptagon {
  position: absolute;
  top: 80px;
  left: 50%;
}

.firstPageDecoration__yellowOctagon {
  position: absolute;
  top: 78%;
  left: 59%;
}

.firstPageDecoration__yellowHexagonDetailed {
  position: absolute;
  top: 65%;
  left: 30%;
}

.firstPageDecoration__arrowsIcon {
  position: absolute;
  bottom: 0;
  left: 40%;
}

.whatIsDecoration__arrowsIcon {
  position: absolute;
  right: 24%;
  top: 30%;
}

.whatIsDecoration__yellowNineCornerDetailed {
  position: absolute;
  right: 5%;
  top: 25%;
}
