.heroSection__decoration-yellowHeptagon {
  position: absolute;
  top: 90px;
  left: 47%;
}

.heroSection__decoration-yellowOctagon {
  position: absolute;
  bottom: 0;
  left: 13.5rem;
}

.heroSection__decoration-yellowHexagonDetailed {
  position: absolute;
  left: 35%;
  bottom: 29%;
}

.heroSection__decoration-arrowsIcon {
  position: absolute;
  bottom: 138px;
  left: 45%;
}

.heroSection__decoration-redCircle {
  position: absolute;
  bottom: 0;
  left: 0;
}

.heroSection__decoration-blueOctagon {
  position: absolute;
  top: 0;
  right: 1%;
}

.whatIsDecoration__arrowsIcon {
  position: absolute;
  right: 25%;
  top: 431px;
}

.whatIsDecoration__yellowNineCornerDetailed {
  position: absolute;
  right: 6%;
  top: 402px;
}

.whatIsDecoration__orangeOctagon {
  position: absolute;
  left: 0;
  bottom: 15%;
}

.whyUsDecoration__blueOctagonLarge {
  position: absolute;
  right: 0;
  top: 347px;
}

.whyUsDecoration__yellowHexagonConnected {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(calc(50% + 20px), calc(100% + 20px));
}

.whyUsDecoration__yellowOctagon {
  position: absolute;
  top: 0;
  right: 140px;
}

.whyUsDecoration__yellowOctagonDetailed {
  position: absolute;
  bottom: 193px;
  left: 124px;
}

.whyUsDecoration__arrowsIcon {
  position: absolute;
  left: 50%;
  bottom: 98px;
}

.testemonialDecoration__founderHexagons {
  position: absolute;
  bottom: 0;
  left: 24rem;
}

.testemonialDecoration__yellowHexagon {
  position: absolute;
  right: 131px;
  top: 541px;
}

.contributorsDecoration__redCircle {
  position: absolute;
  left: 24px;
  bottom: 8%;
}

.contributorsDecoration__arrowsIcon {
  position: absolute;
  right: 15rem;
  bottom: 21px;
}

.contributorsDecoration__yellowHexagonDetailed {
  position: absolute;
  bottom: 139px;
  right: 95px;
}

.introductionDecoration__yellowNineCornerDetailed {
  position: absolute;
  left: 131px;
  top: 121px;
}

.introductionDecoration__yellowHeptagon {
  position: absolute;
  right: 0;
  bottom: 50%;
}

.introductionDecoration__orangeOctagon {
  position: absolute;
  top: 11px;
  right: 30px;
}

.newsDecoration__blueOctagon {
  position: absolute;
  top: 136px;
  left: 19px;
}

.newsDecoration__arrowsIcon {
  position: absolute;
  top: 237px;
  left: 55%;
}

.newsDecoration__yellowOctagonDetailed {
  position: absolute;
  right: 121px;
  top: 69px;
}

.newsDecoration__yellowNineCornerDetailed {
  position: absolute;
  bottom: 29px;
  left: 121px;
}

.newsDecoration__arrowsIcon-footer {
  position: absolute;
  bottom: 41px;
  right: 389px;
}

@media screen and (max-width: 1366px) {
  .introductionDecoration__yellowNineCornerDetailed {
    left: 60px;
  }
  .newsDecoration__yellowOctagonDetailed {
    right: 60px;
  }
}
