.contributorsSection {
  width: 100%;
  max-width: 1375px;
  margin: auto;
}

.contributorsSection__heading {
  margin: auto;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.contributorsSection__grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 98px;
  row-gap: 66px;
}

.contributorsSection__grid-item {
  width: 383px;
}

.contributorsSection__grid-item p:first-child {
  letter-spacing: -0.02em;
}

.contributorsSection__grid-item p:last-child {
  letter-spacing: -0.04em;
}

.contributorsSection__grid-itemImage {
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
}

.contributorsSection__subText {
  margin-top: 105px;
  padding-bottom: 307px;
  position: relative;
}

.contributorsSection__subText-text {
  max-width: 687px;
  width: 100%;
}
