header {
  position: fixed;
  height: 86px;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 32px 100px 32px 100px;
  z-index: 2;
  backdrop-filter: blur(10px);
}

header img {
  max-width: 217px;
  width: 100%;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header__menu-listItem {
  text-align: center;
  margin: 0 18px;
}

.header__menu-listItem a {
  text-decoration: none;
}
