@import "./root";

.heading {
  width: 90%;
  margin: auto;
}
.heading__main {
  margin-top: 240px;
  width: 100%;
}

.heading__main-text {
  text-transform: uppercase;
}

.heading__sub {
  float: right;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.heading__sub-text {
  width: 100%;
}

.heading__sub-button {
  position: relative;
  width: 20%;
  height: 50px;
  background: $yellow;
  border: none;
}

.heading__sub-button:after,
.heading__sub-button:before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  width: 0px;
  background: $primary-color;
  border-top: 25px transparent solid;
  border-bottom: 25px transparent solid;
}

.heading__sub-button:before {
  left: 0;
  border-right: 15px $yellow solid;
}
.heading__sub-button:after {
  right: 0;
  border-left: 15px $yellow solid;
}

.heading__imageWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding-top: 300px;
}

.heading__imageWrapper-image {
  width: 90%;
  height: auto;
}
