header {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 32px 100px 32px 100px;
  z-index: 2;
}

.header__menu {
  width: 20%;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header__menu-listItem {
  text-align: center;
}

.header__menu-listItem a {
  text-decoration: none;
}
