@import './root';

.heroSection {
  padding: 278px 210px 268px;
}

.heroSection__content-text {
  text-transform: uppercase;
}

.heroSection__sub {
  position: relative;
  margin-left: auto;
  width: 100%;
  max-width: 657px;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  padding-bottom: 50px;
}

.heroSection__sub-text {
  width: 100%;
  letter-spacing: -0.04em;
}

.heroSection__sub-button {
  position: relative;
  max-width: 217px;
  height: 65px;
  background: $yellow;
  border: none;
  margin-top: 32px;
  cursor: pointer;
}

.heroSection__sub-button:after,
.heroSection__sub-button:before {
  position: absolute;
  content: '';
  top: 0;
  width: 0px;
  background: $primary-color;
  border-top: 33px transparent solid;
  border-bottom: 33px transparent solid;
}

.heroSection__sub-button:before {
  left: 0;
  border-right: 23px $yellow solid;
}
.heroSection__sub-button:after {
  right: 0;
  border-left: 23px $yellow solid;
}

.heroSection__imageWrapper {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding-bottom: 280px;
}

.heroSection__imageWrapper-image {
  max-width: 100%;
}

@media screen and (max-width: 1600px) {
  .heroSection {
    padding: 278px 105px 268px;
  }
}

@media screen and (max-width: 1100px) {
  .heroSection {
    padding: 278px 50px 268px;
  }
}

@media screen and (max-width: 750px) {
  .heroSection {
    padding: 188px 50px 268px;
  }
  .heroSection__content {
    text-align: center;
  }
  .heroSection__sub-text {
    text-align: center;
  }
}
