@import './root';

.heroSection {
  padding: 278px 210px 0;
}

.heroSection__content {
  max-width: 1560px;
  margin: auto;
}

.heroSection__content-text {
  text-transform: uppercase;
}

.heroSection__sub {
  position: relative;
  float: right;
  width: 100%;
  max-width: 657px;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  padding-bottom: 50px;
}

.heroSection__sub-text {
  width: 100%;
  letter-spacing: -0.04em;
}

.heroSection__sub-button {
  position: relative;
  max-width: 217px;
  height: 65px;
  background: $yellow;
  border: none;
  margin-top: 32px;
  cursor: pointer;
}

.heroSection__sub-button:after,
.heroSection__sub-button:before {
  position: absolute;
  content: '';
  top: 0;
  width: 0px;
  background: $primary-color;
  border-top: 33px transparent solid;
  border-bottom: 33px transparent solid;
}

.heroSection__sub-button:before {
  left: 0;
  border-right: 23px $yellow solid;
}
.heroSection__sub-button:after {
  right: 0;
  border-left: 23px $yellow solid;
}

.heroSection__imageWrapper {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding-top: 360px;
  padding-bottom: 280px;
}

.heroSection__imageWrapper-image {
  width: 100%;
  max-width: 1346px;
  height: auto;
}
