.introductionSection {
  width: 100%;
  max-width: 1375px;
  padding-top: 143px;
  margin: auto;
}

.introductionSection__heading {
  width: 70%;
  position: relative;
}

.introductionSection__heading-text {
  width: 100%;
  max-width: 873px;
  letter-spacing: -0.03em;
}

.introductionSection__video {
  margin-top: 49px;
}

.introductionSection__video-placeholder {
  width: 100%;
  max-width: 1346px;
}

@media screen and (max-width: 1366px) {
  .introductionSection__heading {
    width: 77%;
  }
}
