.introductionSection {
  width: 90%;
  margin: auto;
  margin-top: 120px;
}

.introductionSection__heading {
  width: 90%;
  margin: auto;
}

.introductionSection__heading-text {
  width: 60%;
}

.introductionSection__video {
  width: 90%;
  margin: auto;
  margin-top: 60px;
}

.introductionSection__video-placeholder {
  width: 100%;
}
