.introductionSection {
  width: 100%;
  max-width: 1375px;
  padding-top: 143px;
  padding-left: 258px;
}

.introductionSection__heading {
  padding-left: 29px;
}

.introductionSection__heading-text {
  width: 100%;
  max-width: 873px;
  letter-spacing: -0.03em;
}

.introductionSection__video {
  margin-top: 49px;
  padding-left: 29px;
}

.introductionSection__video-placeholder {
  width: 100%;
  max-width: 1346px;
}
