.joinNetworkSection {
  width: 100%;
  max-width: 1266px;
  padding-left: 258px;
}

.joinNetworkSection__heading {
  max-width: 939px;
  width: 100%;
  padding-left: 29px;
}

.joinNetworkSection__heading-text {
  text-transform: uppercase;
}

.joinNetworkSection__social {
  position: relative;
  max-width: 1237px;
  height: 615px;
  margin-top: 57px;
  margin-left: 29px;
}

.joinNetworkSection__social-discord {
  position: absolute;
  top: 208px;
  left: 0;
}

.joinNetworkSection__social-github {
  position: absolute;
  top: 0;
  left: 308px;
}

.joinNetworkSection__social-stack {
  position: absolute;
  top: 142px;
  right: 315px;
}

.joinNetworkSection__social-quora {
  position: absolute;
  bottom: 52px;
  right: 293px;
}

.joinNetworkSection__social-reddit {
  position: absolute;
  bottom: 0;
  right: 98px;
}

.joinNetworkSection__social-youtube {
  position: absolute;
  bottom: 174px;
  right: 0;
}
