.social {
  position: fixed;
  right: 32px;
  top: 20%;
  display: flex;
  flex-direction: column;
  width: 24px;
}

.social__icon:not(:first-child) {
  margin-top: 24px;
}

@media screen and (max-width: 700px) {
  .social {
    right: 15px;
  }
}
