.testemonialSection {
  width: 90%;
  margin: auto;
  margin-top: 300px;
}

.testemonialSection__wrapper {
  width: 90%;
  margin: auto;
  display: flex;
}

.testemonialSection__text {
  margin-left: 80px;
  width: 60%;
}

.testemonialSection__text-subtext {
  display: flex;
  margin-top: 40px;
}
