.whatIsSection {
  max-width: 1375px;
  padding-left: 29px;
  margin: auto;
}

.whatIsSection__text-main {
  width: 100%;
  max-width: 904px;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  margin-bottom: 80px;
}

.whatIsSection__text-sub {
  width: 100%;
  max-width: 886px;
  letter-spacing: -0.04em;
}

.whatIsSection__text-subSec {
  width: 100%;
  max-width: 886px;
  margin-top: 40px;
  letter-spacing: -0.04em;
}

.whatIsSection__video-container {
  width: 100%;
  padding-top: 80px;
}
