.whatIsSection {
  padding: 244px 287px 0;
  margin: auto;
}

.whatIsSection__text-main {
  width: 100%;
  max-width: 904px;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  margin-bottom: 80px;
}

.whatIsSection__text-sub {
  width: 100%;
  max-width: 886px;
  letter-spacing: -0.04em;
}

.whatIsSection__text-subSec {
  width: 100%;
  max-width: 886px;
  margin-top: 40px;
  letter-spacing: -0.04em;
}

.whatIsSection__video-container {
  width: 100%;
  margin-top: 131px;
}

.whatIsSection__video-container video {
  width: 100%;
}

@media screen and (max-width: 1366px) {
  .whatIsSection__text-container {
    width: 75%;
  }
}
