@use "./assets/header";
@use "./assets/backgroundDecoration";
@use "./assets/heading";
@use "./assets/sidebar";
@use "./assets/whatIs";
@use "./assets/whyUs";
@import "./assets/root.scss";

body {
  background-color: $primary-color;
}

.white-text {
  color: $white;
}

.yellow-text {
  color: $yellow;
}
