@use './assets/header';
@use './assets/backgroundDecoration';
@use './assets/heading';
@use './assets/sidebar';
@use './assets/whatIs';
@use './assets/whyUs';
@use './assets/testemonial';
@use './assets/reset';
@use './assets/contributors';
@use './assets/joinNetwork';
@use './assets/introduction';
@use './assets/news';
@import './assets/root.scss';

body {
  background-color: $primary-color;
}

.white-text {
  color: $white;
}

.yellow-text {
  color: $yellow;
}
