@use './assets/reset';
@use './assets/header';
@use './assets/backgroundDecoration';
@use './assets/hero';
@use './assets/social';
@use './assets/whatIs';
@use './assets/whyUs';
@use './assets/testemonial';
@use './assets/contributors';
@use './assets/joinNetwork';
@use './assets/introduction';
@use './assets/news';
@use './assets/footer';
@use './assets/image';
@import './assets/root.scss';

html {
  max-width: 1920px;
}

body {
  background-color: $primary-color;
}

section,
footer {
  position: relative;
}

.white-text {
  color: $white;
}

.yellow-text {
  color: $yellow;
}

@media screen and (max-width: 1366px) {
  section,
  footer {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}
