html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 32px 80px 32px 80px;
}

.header__menu {
  width: 25%;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header__menu-listItem {
  text-align: center;
}

.header__menu-listItem a {
  text-decoration: none;
}

.heroSection__decoration-yellowHeptagon {
  position: absolute;
  top: 80px;
  left: 47%;
}

.heroSection__decoration-yellowOctagon {
  position: absolute;
  top: 38.5%;
  left: 58.5%;
}

.heroSection__decoration-yellowHexagonDetailed {
  position: absolute;
  top: 36%;
  left: 31%;
}

.heroSection__decoration-arrowsIcon {
  position: absolute;
  bottom: 50%;
  left: 43%;
}

.heroSection__decoration-redCircle {
  position: absolute;
  bottom: 46%;
  left: 0;
}

.whatIsDecoration__arrowsIcon {
  position: absolute;
  right: 24%;
  top: 30%;
}

.whatIsDecoration__yellowNineCornerDetailed {
  position: absolute;
  right: 5%;
  top: 25%;
}

.heroSection {
  position: relative;
  padding-left: 9rem;
  padding-right: 9rem;
}

.heroSection__content {
  padding-top: 320px;
  max-width: 1560px;
}

.heroSection__content-text {
  text-transform: uppercase;
}

.heroSection__sub {
  float: right;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.heroSection__sub-text {
  width: 100%;
}

.heroSection__sub-button {
  position: relative;
  width: 20%;
  height: 50px;
  background: #d5ff2f;
  border: none;
  margin-top: 32px;
}

.heroSection__sub-button:after,
.heroSection__sub-button:before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  width: 0px;
  background: #361281;
  border-top: 25px transparent solid;
  border-bottom: 25px transparent solid;
}

.heroSection__sub-button:before {
  left: 0;
  border-right: 15px #d5ff2f solid;
}

.heroSection__sub-button:after {
  right: 0;
  border-left: 15px #d5ff2f solid;
}

.heroSection__imageWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding-top: 300px;
}

.heroSection__imageWrapper-image {
  width: 90%;
  height: auto;
}

.sidebarWrapper {
  position: fixed;
  right: 32px;
  top: 20%;
  display: flex;
  flex-direction: column;
  width: 24px;
}

.sidebarWrapper__icon {
  margin-top: 24px;
}

.whatIsSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  margin: auto;
}

.whatIsSection__text-container {
  width: 90%;
  margin: auto;
}

.whatIsSection__text-main {
  width: 70%;
  text-transform: uppercase;
  padding-top: 160px;
}

.whatIsSection__text-sub {
  width: 75%;
}

.whatIsSection__video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 80px;
}

.whatIsSection__video-placeholder {
  width: 90%;
}

.whyUsSection {
  width: 90%;
  margin: auto;
}

.whyUsSection__heading {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  text-transform: uppercase;
}

.whyUsSection__grid {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: auto auto auto;
  gap: 20;
}

.whyUsSection__grid-item {
  width: 85%;
}

.testemonialSection {
  width: 90%;
  margin: auto;
  margin-top: 300px;
}

.testemonialSection__wrapper {
  width: 90%;
  margin: auto;
  display: flex;
}

.testemonialSection__text {
  margin-left: 80px;
  width: 60%;
}

.testemonialSection__text-subtext {
  display: flex;
  margin-top: 40px;
}

.contributorsSection {
  width: 90%;
  margin: auto;
  margin-top: 300px;
}

.contributorsSection__heading {
  width: 90%;
  margin: auto;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.contributorsSection__grid {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 80px;
}

.contributorsSection__grid-item {
  width: 100%;
}

.contributorsSection__grid-itemImage {
  margin-bottom: 20px;
}

.contributorsSection__subText {
  width: 90%;
  margin: auto;
  margin-top: 100px;
}

.contributorsSection__subText-text {
  width: 50%;
}

.joinNetworkSection {
  width: 90%;
  height: 1000px;
  margin: auto;
  margin-top: 200px;
  position: relative;
}

.joinNetworkSection__heading {
  width: 90%;
  margin: auto;
}

.joinNetworkSection__heading-text {
  width: 60%;
  text-transform: uppercase;
}

.joinNetworkSection__social {
  width: 90%;
  margin: auto;
  margin-top: 280px;
}

.joinNetworkSection__social-github {
  position: absolute;
  top: 29%;
  left: 23%;
}

.joinNetworkSection__social-stack {
  position: absolute;
  bottom: 32%;
  left: 44.5%;
}

.joinNetworkSection__social-quora {
  position: absolute;
  bottom: 15%;
  right: 40%;
}

.joinNetworkSection__social-reddit {
  position: absolute;
  bottom: 10%;
  right: 29%;
}

.joinNetworkSection__social-youtube {
  position: absolute;
  bottom: 27%;
  right: 23%;
}

.introductionSection {
  width: 90%;
  margin: auto;
  margin-top: 120px;
}

.introductionSection__heading {
  width: 90%;
  margin: auto;
}

.introductionSection__heading-text {
  width: 60%;
}

.introductionSection__video {
  width: 90%;
  margin: auto;
  margin-top: 60px;
}

.introductionSection__video-placeholder {
  width: 100%;
}

.newsSection {
  width: 90%;
  margin: auto;
  margin-top: 240px;
}

.newsSection__heading {
  width: 90%;
  margin: auto;
}

.newsSection__heading-text {
  text-transform: uppercase;
}

body {
  background-color: #361281;
}

.white-text {
  color: #ffffff;
}

.yellow-text {
  color: #d5ff2f;
}

/*# sourceMappingURL=main.css.map */
