html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 32px 80px 32px 80px;
  z-index: 2;
}

.header__menu {
  width: 22%;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header__menu-listItem {
  text-align: center;
}

.header__menu-listItem a {
  text-decoration: none;
}

.heroSection__decoration-yellowHeptagon {
  position: absolute;
  top: 80px;
  left: 47%;
}

.heroSection__decoration-yellowOctagon {
  position: absolute;
  top: 34.5%;
  left: 61.2%;
}

.heroSection__decoration-yellowHexagonDetailed {
  position: absolute;
  top: 32%;
  left: 33.5%;
}

.heroSection__decoration-arrowsIcon {
  position: absolute;
  bottom: 55%;
  left: 43%;
}

.heroSection__decoration-redCircle {
  position: absolute;
  bottom: 48%;
  left: 0;
}

.heroSection__decoration-blueOctagon {
  position: absolute;
  bottom: 4%;
  right: 1%;
}

.whatIsDecoration__arrowsIcon {
  position: absolute;
  right: 25%;
  top: 18%;
}

.whatIsDecoration__yellowNineCornerDetailed {
  position: absolute;
  right: 6%;
  top: 16%;
}

.whatIsDecoration__orangeOctagon {
  position: absolute;
  left: 0;
  bottom: 15%;
}

.whyUsDecoration__blueOctagonLarge {
  position: absolute;
  right: 0;
  top: 360px;
}

.whyUsDecoration__yellowHexagonConnected {
  position: absolute;
  left: 30%;
  top: 43%;
}

.whyUsDecoration__yellowOctagon {
  position: absolute;
  top: 0;
  right: 140px;
}

.whyUsDecoration__yellowOctagonDetailed {
  position: absolute;
  bottom: 193px;
  left: 124px;
}

.whyUsDecoration__arrowsIcon {
  position: absolute;
  left: 50%;
  bottom: 98px;
}

.testemonialDecoration__founderHexagons {
  position: absolute;
  left: 640px;
  top: 331px;
}

.testemonialDecoration__yellowHexagon {
  position: absolute;
  right: 131px;
  top: 541px;
}

.contributorsDecoration__redCircle {
  position: absolute;
  left: 24px;
  bottom: 103px;
}

.contributorsDecoration__arrowsIcon {
  position: absolute;
  right: 506px;
  bottom: 21px;
}

.contributorsDecoration__yellowHexagonDetailed {
  position: absolute;
  bottom: 139px;
  right: 95px;
}

.introductionDecoration__yellowNineCornerDetailed {
  position: absolute;
  left: 131px;
  top: 121px;
}

.introductionDecoration__yellowHeptagon {
  position: absolute;
  top: 185px;
  right: 688px;
}

.introductionDecoration__orangeOctagon {
  position: absolute;
  top: 11px;
  right: 30px;
}

.heroSection {
  position: relative;
  padding-left: 9rem;
  padding-right: 9rem;
}

.heroSection__content {
  padding-top: 320px;
  max-width: 1560px;
  margin: auto;
}

.heroSection__content-text {
  text-transform: uppercase;
}

.heroSection__sub {
  float: right;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.heroSection__sub-text {
  width: 100%;
  letter-spacing: -0.04em;
}

.heroSection__sub-button {
  position: relative;
  max-width: 217px;
  height: 65px;
  background: #d5ff2f;
  border: none;
  margin-top: 32px;
  cursor: pointer;
}

.heroSection__sub-button:after,
.heroSection__sub-button:before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  width: 0px;
  background: #361281;
  border-top: 33px transparent solid;
  border-bottom: 33px transparent solid;
}

.heroSection__sub-button:before {
  left: 0;
  border-right: 23px #d5ff2f solid;
}

.heroSection__sub-button:after {
  right: 0;
  border-left: 23px #d5ff2f solid;
}

.heroSection__imageWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding-top: 360px;
  padding-bottom: 280px;
}

.heroSection__imageWrapper-image {
  width: 100%;
  max-width: 1346px;
  height: auto;
}

.social {
  position: fixed;
  right: 32px;
  top: 20%;
  display: flex;
  flex-direction: column;
  width: 24px;
}

.social__icon {
  margin-top: 24px;
}

.whatIsSection {
  max-width: 1375px;
  padding-left: 29px;
  margin: auto;
}

.whatIsSection__text-main {
  width: 100%;
  max-width: 904px;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  margin-bottom: 80px;
}

.whatIsSection__text-sub {
  width: 100%;
  max-width: 886px;
  letter-spacing: -0.04em;
}

.whatIsSection__text-subSec {
  width: 100%;
  max-width: 886px;
  margin-top: 40px;
  letter-spacing: -0.04em;
}

.whatIsSection__video-container {
  width: 100%;
  padding-top: 80px;
}

.whyUsSection {
  width: 100%;
  max-width: 1376px;
  padding-left: 29px;
  padding-bottom: 412px;
  margin: auto;
}

.whyUsSection__heading {
  margin-top: 20px;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.whyUsSection__grid {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto auto;
  gap: 60px;
  row-gap: 140px;
}

.whyUsSection__grid-item {
  width: 85%;
}

.whyUsSection__grid-item p:not(:last-child) {
  letter-spacing: 0.02em;
}

.whyUsSection__grid-item p:not(:first-child) {
  letter-spacing: -0.04em;
  margin-top: 40px;
}

.testemonialSection {
  width: 100%;
  width: 1347px;
  margin: auto;
  display: flex;
  padding-bottom: 380px;
}

.testemonialSection__image {
  width: 458px;
  height: 458px;
}

.testemonialSection__text {
  margin-left: 40px;
  width: 100%;
  max-width: 779px;
}

.testemonialSection__text-heading p:last-child {
  letter-spacing: -0.02em;
}

.testemonialSection__text-subtext {
  display: flex;
  margin-top: 40px;
  letter-spacing: -0.04em;
}

.testemonialSection__text-subtext p {
  margin-left: 16px;
}

.contributorsSection {
  width: 100%;
  max-width: 1375px;
  margin: auto;
  padding-bottom: 307px;
}

.contributorsSection__heading {
  margin: auto;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.contributorsSection__grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 98px;
  row-gap: 66px;
}

.contributorsSection__grid-item {
  width: 383px;
}

.contributorsSection__grid-item p:first-child {
  letter-spacing: -0.02em;
}

.contributorsSection__grid-item p:last-child {
  letter-spacing: -0.04em;
}

.contributorsSection__grid-itemImage {
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
}

.contributorsSection__subText {
  margin-top: 105px;
}

.contributorsSection__subText-text {
  max-width: 687px;
  width: 100%;
}

.joinNetworkSection {
  width: 100%;
  max-width: 1266px;
  padding-left: 258px;
}

.joinNetworkSection__heading {
  max-width: 939px;
  width: 100%;
  padding-left: 29px;
}

.joinNetworkSection__heading-text {
  text-transform: uppercase;
}

.joinNetworkSection__social {
  position: relative;
  max-width: 1237px;
  height: 615px;
  margin-top: 57px;
  margin-left: 29px;
}

.joinNetworkSection__social-discord {
  position: absolute;
  top: 208px;
  left: 0;
}

.joinNetworkSection__social-github {
  position: absolute;
  top: 0;
  left: 308px;
}

.joinNetworkSection__social-stack {
  position: absolute;
  top: 142px;
  right: 315px;
}

.joinNetworkSection__social-quora {
  position: absolute;
  bottom: 52px;
  right: 293px;
}

.joinNetworkSection__social-reddit {
  position: absolute;
  bottom: 0;
  right: 98px;
}

.joinNetworkSection__social-youtube {
  position: absolute;
  bottom: 174px;
  right: 0;
}

.introductionSection {
  width: 100%;
  max-width: 1375px;
  padding-top: 143px;
  padding-left: 258px;
}

.introductionSection__heading {
  padding-left: 29px;
}

.introductionSection__heading-text {
  width: 100%;
  max-width: 873px;
  letter-spacing: -0.03em;
}

.introductionSection__video {
  margin-top: 49px;
  padding-left: 29px;
}

.introductionSection__video-placeholder {
  width: 100%;
  max-width: 1346px;
}

.newsSection {
  width: 90%;
  margin: auto;
  margin-top: 240px;
}

.newsSection__heading {
  width: 90%;
  margin: auto;
}

.newsSection__heading-text {
  text-transform: uppercase;
}

body {
  background-color: #361281;
}

section {
  position: relative;
}

.white-text {
  color: #ffffff;
}

.yellow-text {
  color: #d5ff2f;
}

/*# sourceMappingURL=main.css.map */
